<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" version="3.0">
  <display-name>LibraryManagement</display-name>
  <description>
  This Web Application demonstrates a Library Management System.
  </description>
  <servlet>
    <servlet-name>AddUserServlet</servlet-name>
    <servlet-class>org.tutorial.spoken.AddUserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddUserServlet</servlet-name>
    <url-pattern>/AddUserServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AddBookServlet</servlet-name>
    <servlet-class>org.tutorial.spoken.AddBookServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddBookServlet</servlet-name>
    <url-pattern>/AddBookServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>CheckOutServlet</servlet-name>
    <servlet-class>org.tutorial.spoken.CheckOutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CheckOutServlet</servlet-name>
    <url-pattern>/CheckOutServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>GreetingServlet</servlet-name>
    <servlet-class>org.tutorial.spoken.GreetingServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GreetingServlet</servlet-name>
    <url-pattern>/GreetingServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AdminSection</servlet-name>
    <servlet-class>org.tutorial.spoken.AdminSection</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminSection</servlet-name>
    <url-pattern>/AdminSection</url-pattern>
  </servlet-mapping>  
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
</web-app>